.container {
  position: relative;
}

.tagContainer {
  position: sticky;
  top: 74px;
  display: flex;
  flex-direction: column;
  padding-left: 12px;

  h2 {
    color: var(--black-700);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1em;
  }
}

.blogContainer {
  margin-left: 1%;
  position : sticky;
  top: 255px;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  border-radius: 10px;
  background-color: rgb(211, 228, 243);

  h2 {
    text-align: center;
    color: var(--black-700);
    font-size: 18px;
    font-weight: 400;
  }
}

.popularTags {
  display: grid;
  grid-template-columns: auto auto;
}

.popularBlogs {
  display: grid;
  grid-template-columns: auto;
  padding: 5% 0;
}
